<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="localSTSConfiguration" type="System.IdentityModel.Tools.LocalSTS.LocalSTSConfiguration, LocalSTS, Version=5.0.0.0, Culture=neutral, PublicKeyToken=f300afd708cefcd3" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
	</startup>
	<localSTSConfiguration port="15000" signingCertificate="LocalSTS.pfx" signingCertificatePassword="LocalSTS" issuerName="LocalSTS" tokenFormat="Saml11">
		<claims>
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" displayName="NameIdentifier" value="gouf2404" />
			<add type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" displayName="IdentityProvider" value="LocalSTS" />
			<add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" displayName="CIP" value="gouf2404" />
			<!--<add type="STIC/Guid" displayName="Guid" value="0F08B487-97FE-443B-A572-8706F92A4DDC" /> -->
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" displayName="Name" value="Félix Goulet" />
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" displayName="EmailAddress" value="gouf2404@usherbrooke.ca" />
			<add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="administrateur" />
		</claims>
		<!--<claims>
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" displayName="NameIdentifier" value="gouf2404" />
			<add type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" displayName="IdentityProvider" value="LocalSTS" />
			<add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" displayName="CIP" value="gouf2404" />
			--><!--<add type="STIC/Guid" displayName="Guid" value="0F08B487-97FE-443B-A572-8706F92A4DDC" /> --><!--
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" displayName="Name" value="Félix Goulet" />
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" displayName="EmailAddress" value="gouf2404@usherbrooke.ca" />
			<add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="administrateur" />
		</claims>-->
		<!--<claims>
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" displayName="NameIdentifier" value="gouf2404" />
			<add type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" displayName="IdentityProvider" value="LocalSTS" />
			<add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname" displayName="CIP" value="gouf2404" />
			--><!--<add type="STIC/Guid" displayName="Guid" value="0F08B487-97FE-443B-A572-8706F92A4DDC" /> --><!--
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" displayName="Name" value="Félix Goulet" />
			<add type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" displayName="EmailAddress" value="gouf2404@usherbrooke.ca" />
			<add type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" displayName="Role" value="administrateur" />
		</claims>-->
	</localSTSConfiguration>
</configuration>