<!----------------------------------------------------------------------------------------------------------------------->
<!-- template.html - case manager                                                                                      -->
<!----------------------------------------------------------------------------------------------------------------------->
<!-- Title -->
<div class="pageContainer-content">
    <div class="wrapper">
        <div class="moduleWrapper">
            <div class="moduleWrapper-aside">
                





                <div class="moduleMenu">
                    <button class="moduleMenu-item moduleMenu-item_completed">
                        Module 1 : Introduction
                        <div class="moduleMenu-check">
                            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.1562 10.75C22.1562 16.6367 17.3438 21.4062 11.5 21.4062C5.61328 21.4062 0.84375 16.6367 0.84375 10.75C0.84375 4.90625 5.61328 0.09375 11.5 0.09375C17.3438 0.09375 22.1562 4.90625 22.1562 10.75ZM10.2539 16.4219L18.1602 8.51562C18.418 8.25781 18.418 7.78516 18.1602 7.52734L17.1719 6.58203C16.9141 6.28125 16.4844 6.28125 16.2266 6.58203L9.78125 13.0273L6.73047 10.0195C6.47266 9.71875 6.04297 9.71875 5.78516 10.0195L4.79688 10.9648C4.53906 11.2227 4.53906 11.6953 4.79688 11.9531L9.26562 16.4219C9.52344 16.6797 9.99609 16.6797 10.2539 16.4219Z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </button>
                    <button class="moduleMenu-item moduleMenu-item_selected">Module 2 : Spécialité 1</button>
                    <button class="moduleMenu-item">Module 3 : Spécialité 2</button>
                    <button class="moduleMenu-item moduleMenu-item_locked">Module 4 : Spécialité 3</button>
                </div>
            </div>

            <select id="moduleSelection" name="">
                <option value="apple">Module 1: Introduction</option>
                <option value="banana" selected>Module 2: Spécialité 1</option>
                <option value="orange">Module 3: Spécialité 2</option>
                <option value="strawberry">Module 4: Spécialité 3</option>
            </select>

            <div class="moduleWrapper-content">
                <div class="text moduleWrapper-contentText">
                    <h5>Module 2 - Spécialité 1</h5>
                </div>

                <div class="user user_welcome">
                    <div class="user-image">
                        <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="36" cy="36" r="36" fill="#DACCE1"></circle>
                            <path d="M26.9311 48.0007H45.287C50.9439 48.0007 55.5328 52.4514 55.5328 57.9295V58H16.6853V57.9295C16.6853 52.4477 21.2781 48.0007 26.9311 48.0007Z" fill="url(#paint0_linear_8_1409)"></path>
                            <path d="M46.4545 46.2241H25.5457C19.8659 46.5357 16.4557 52.5404 16.3486 50.1333C16.1534 45.7791 16.295 39.6111 16.295 37.2597V22.6243C16.295 17.6728 20.4362 13.6598 25.5457 13.6598H46.4583C51.5678 13.6598 55.709 17.6728 55.709 22.6243V37.2597C55.709 42.2111 51.5678 46.2241 46.4583 46.2241H46.4545Z" fill="url(#paint1_linear_8_1409)"></path>
                            <path d="M44.1245 18.0402H27.4602C23.5737 18.0402 20.4231 21.084 20.4231 24.8387V35.338C20.4231 39.0927 23.5737 42.1365 27.4602 42.1365H44.1245C48.0109 42.1365 51.1616 39.0927 51.1616 35.338V24.8387C51.1616 21.084 48.0109 18.0402 44.1245 18.0402Z" fill="#CCEDDE"></path>
                            <path d="M29.8709 33.5345C30.0601 32.6583 28.87 31.6756 27.2128 31.3395C25.5555 31.0034 24.0587 31.4412 23.8695 32.3174C23.6802 33.1935 24.8703 34.1763 26.5276 34.5124C28.1848 34.8484 29.6816 34.4106 29.8709 33.5345Z" fill="url(#paint2_linear_8_1409)"></path>
                            <path d="M45.7636 34.3051C47.4127 33.9332 48.5798 32.9249 48.3705 32.0531C48.1611 31.1812 46.6545 30.7759 45.0055 31.1478C43.3564 31.5197 42.1893 32.5279 42.3986 33.3998C42.608 34.2716 44.1145 34.6769 45.7636 34.3051Z" fill="url(#paint3_linear_8_1409)"></path>
                            <path d="M30.0807 30.4899C31.2851 30.4899 32.2614 29.546 32.2614 28.3815C32.2614 27.217 31.2851 26.2731 30.0807 26.2731C28.8763 26.2731 27.8999 27.217 27.8999 28.3815C27.8999 29.546 28.8763 30.4899 30.0807 30.4899Z" fill="url(#paint4_radial_8_1409)"></path>
                            <path d="M42.2307 30.4899C43.3778 30.4899 44.3077 29.546 44.3077 28.3815C44.3077 27.217 43.3778 26.2731 42.2307 26.2731C41.0837 26.2731 40.1538 27.217 40.1538 28.3815C40.1538 29.546 41.0837 30.4899 42.2307 30.4899Z" fill="url(#paint5_radial_8_1409)"></path>
                            <defs>
                                <linearGradient id="paint0_linear_8_1409" x1="36.1091" y1="48.0007" x2="36.1452" y2="60.1428" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#240035"></stop>
                                    <stop offset="1" stop-color="#47006A"></stop>
                                    <stop offset="1" stop-color="#47006A"></stop>
                                </linearGradient>
                                <linearGradient id="paint1_linear_8_1409" x1="35.9772" y1="13.6598" x2="35.9986" y2="33.4285" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#370250"></stop>
                                    <stop offset="1" stop-color="#47006A"></stop>
                                </linearGradient>
                                <linearGradient id="paint2_linear_8_1409" x1="27.59" y1="30.7144" x2="25.6342" y2="35.1909" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#DACCE1"></stop>
                                    <stop offset="1" stop-color="#E2D4E9" stop-opacity="0.44"></stop>
                                </linearGradient>
                                <linearGradient id="paint3_linear_8_1409" x1="45.0055" y1="31.1478" x2="45.7197" y2="34.315" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#DACCE1"></stop>
                                    <stop offset="1" stop-color="#E2D4E9" stop-opacity="0.44"></stop>
                                </linearGradient>
                                <radialGradient id="paint4_radial_8_1409" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(30.0807 28.3815) rotate(90) scale(2.10843 2.18077)">
                                    <stop offset="0.46875" stop-color="#009F51"></stop>
                                    <stop offset="1" stop-color="#008A3C"></stop>
                                </radialGradient>
                                <radialGradient id="paint5_radial_8_1409" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(42.2307 28.3815) rotate(90) scale(2.10843 2.07692)">
                                    <stop offset="0.46875" stop-color="#009F51"></stop>
                                    <stop offset="1" stop-color="#008A3C"></stop>
                                </radialGradient>
                            </defs>
                        </svg>
                    </div>
                    <p class="user-name">Bonjour {{user.user_name}}</p>
                </div>

                <div id="case_table" class="cases">
                    <div v-for="item in cases" :key="item.case_id">

                        <div class="case case_completed">
                            <h4>{{ item.case_properties.case_name }}</h4>
                            <div class="case-img">
                                <svg width="79" height="78" viewBox="0 0 79 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" width="78" height="78" rx="16" fill="#E0E0E0" />
                                    <path d="M40 41C34.4531 41 30 36.5469 30 31C30 25.5312 34.4531 21 40 21C45.4688 21 50 25.5312 50 31C50 36.5469 45.4688 41 40 41ZM36.4062 44.75H43.5156C51.25 44.75 57.5 51 57.5 58.7344C57.5 59.9844 56.4062 61 55.1562 61H24.7656C23.5156 61 22.5 59.9844 22.5 58.7344C22.5 51 28.6719 44.75 36.4062 44.75Z" fill="#878787" />
                                </svg>
                            </div>
                            <div class="case-progressContainer">
                                <div class="case-progress"></div>
                            </div>
                            <!--<h4>Patient</h4>-->
                            <p>{{ item.case_properties.patient_name }}</p>
                            <!--<h4>Contexte clinique</h4>-->
                            <p>{{ item.case_properties.discipline }}</p>
                            <!--<h4>Spécialité </h4>-->
                            <p>{{ item.case_properties.discipline }}</p>
                            <!--<h4>Créatrice ou créateur</h4>-->
                            <p>{{ item.case_properties.creator }}</p>
                            <!--<h4>Statut</h4>-->
                            <p>{{ item.case_properties.approved}}</p>
                            <button type="button" @click="handleClick(item.case_id)" class="btn btn_primary">Options</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div v-if="(user.role_id == 100000)">
    <!-- User manager -->
    <div id="manager_button" class="alert alert-secondary" role="alert" @click="access_user_manager">
        <p class="text-center" style="font-size:300%;"><i class="bi-people"></i></p>
        <p class="text-center">Gestion des acc&egrave;s</p>
    </div>
</div>

<!-- Manager -->
<div id="case_options" style="display:none;" class="mx-3 mt-3" v-if="cases.length > 0">

    <h2>{{ cases[sel_pos].case_properties.case_name }}</h2>
    <h4>{{ cases[sel_pos].case_properties.patient_name }}</h4>

    <div class="row mt-3">
        <div v-if="cases[sel_pos].case_properties.approved==false" class="col">
            <div class="alert alert-secondary" role="alert" @click="access_case_editor">
                <p class="mb-3 text-center" style="font-size:300%;"><i class="bi-pencil-square"></i></p>
                <p class="mb-3 text-center">&Eacute;diteur de cas</p>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-secondary" role="alert" @click="access_case_preview">
                <p class="mb-3 text-center" style="font-size:300%;"><i class="bi-eye"></i></p>
                <p class="mb-3 text-center">Pr&eacute;visualiser le cas</p>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-secondary" role="alert" @click="copy_case">
                <p class="mb-3 text-center" style="font-size:300%;"><i class="bi-files"></i></p>
                <p class="mb-3 text-center">Copier le cas</p>
            </div>
        </div>
        <div v-if="(user.role_id == 100000)" class="col">
            <div class="alert " :class="{'alert-danger':cases[sel_pos].case_properties.approved==false,'alert-success':cases[sel_pos].case_properties.approved}" role="alert" @click="toggle_approve">
                <p class="mb-3 text-center" style="font-size:300%;" v-if="cases[sel_pos].case_properties.approved==false"><i class="bi-x"></i></p>
                <p class="mb-3 text-center" style="font-size:300%;" v-if="cases[sel_pos].case_properties.approved"><i class="bi-check"></i></p>
                <p class="mb-3 text-center" v-if="cases[sel_pos].case_properties.approved">Nouvelle version / Cas approuv&eacute; ({{ cases[sel_pos].student_data_count }})</p>
                <p class="mb-3 text-center" v-if="cases[sel_pos].case_properties.approved==false">Cas non approuv&eacute; ({{ cases[sel_pos].student_data_count }})</p>
            </div>
        </div>
    </div>
    <div class="row mt-0">
        <div class="col">
            <div class="alert alert-secondary" role="alert" @click="toggle_options">
                <p class="mb-0 text-center"><i class="bi-reply-fill mr-2"></i>Retour &agrave; la liste des cas</p>
            </div>
        </div>
    </div>


</div>



<div class="new_case_menu bg-light" style="display:none;">
    <div class="row ">
        <p class="mt-4">Veuillez inscrire les informations pr&eacute;liminaires du cas. Vous pourrez les modifier par la suite.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p class="mb-0">Titre du cas</p>
            <input class="form-control w-100" style="width:100%;min-width:100%;" v-model="new_case_properties.case_name" />
        </div>
        <div class="col-md-4">
            <p class="mb-0">Nom du patient</p>
            <input class="form-control w-100" style="width:100%;min-width:100%;" v-model="new_case_properties.patient_name" />
        </div>
        <div class="col-md-4">
            <p class="mb-0">Sp&eacute;cialit&eacute;</p>
            <select class="form-control w-100" style="width:100%;min-width:100%;" v-model="new_case_properties.discipline">
                <option v-for="d in disciplines" :value="d">{{ d.discipline_name }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-secondary text-white  btn-block" @click="new_case()">Commencer l'&eacute;dition du cas</button>
        </div>
    </div>
</div>

<!-- Student -->
<!--<div class="alert alert-secondary" role="alert" @click="access_student_menu" style="display:inline-block; width:75%">
    <p class="text-center" style="font-size:300%;"><i class="bi-pencil-square"></i></p>
    <p class="text-center">Menu &eacute;tudiant</p>
</div>-->
<!--<span>{{ user }}</span>-->
<br />

<!--<span>{{ user.role_id }}</span>-->
